/* Used from w3schools with permission */

* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: green;
}

a {
    background-color: green;
    padding: 25px;
    text-align: center;
    font-size: 18px;
}


/* Style the header */

.header {
    background-color: #f1f1f1;
    padding: 50px;
    text-align: center;
    font-size: 35px;
}


/* Style the footer */

.footer {
    background-color: #f1f1f1;
    padding: 50px;
    text-align: center;
}